body	{
	box-sizing: border-box;
	text-align: center;
	/*background: url("https://www.publicdomainpictures.net/pictures/140000/velka/stack-of-old-45-rpm-records.jpg") no-repeat center;
	background-size: cover;*/
}

.hidden	{
	display: none;
}